.contactForm {
    display: flex;
    flex-direction: column;
    width: 50%; /* Occupy 50% width on larger screens */
  }
  
  .formGroup {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
  
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submitButton {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #555;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) { /* Tablet and Mobile */
    .contactForm {
      width: 100%; /* Take up full width on smaller screens */
    }
  }